.musicpos {
  position: fixed;
  top: 48%;               /* sedikit dari atas biar efek floating */
  left: 30px;
  width: 138px;
  height: 180px;            /* tinggi navbar */
  background: rgba(255, 255, 255, 0.8); /* putih semi-transparan 80% */
  display: flex;
  align-items: top;
  justify-content: center;
  border-radius: 18px;     /* rounded */
  backdrop-filter: blur(12px); /* biar teks lebih jelas */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek floating */
  z-index: 1000;
  font-family: "Minecraft Regular", sans-serif;
  font-weight: bold;
  color: #000;             /* teks hitam supaya kontras */
}

.music {
  position: fixed;
  margin-top: 6px;
  width: 128px;
  height: 128px;            /* tinggi navbar */
  background: rgba(255, 255, 255, 0.8); /* putih semi-transparan 80% */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;     /* rounded */
  backdrop-filter: blur(12px); /* biar teks lebih jelas */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek floating */
  z-index: 1000;
  font-family: "Minecraft Regular", sans-serif;
  font-weight: bold;
  color: #000;             /* teks hitam supaya kontras */
}

.cd {
  position: fixed;             /* sedikit dari atas biar efek floating */
  width: 92px;
  height: 92px;            /* tinggi navbar */
  background: rgba(19, 39, 68, 0.8); /* putih semi-transparan 80% */
  display: flex;
  align-items: center;
  border-radius: 256px;     /* rounded */
  backdrop-filter: blur(6px); /* biar teks lebih jelas */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek floating */
  z-index: 1600;
  font-family: "Minecraft Regular", sans-serif;
  font-weight: bold;
  color: #000;  
  animation: "spin";
}

.cdi {
  position: fixed;             /* sedikit dari atas biar efek floating */
  width: 16px;
  height: 16px;            /* tinggi navbar */
  background: rgba(241, 252, 255, 0.8); /* putih semi-transparan 80% */
  display: flex;
  align-items: center;
  border-radius: 256px;     /* rounded */
  backdrop-filter: blur(6px); /* biar teks lebih jelas */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek floating */
  z-index: 1600;
  font-family: "Minecraft Regular", sans-serif;
  font-weight: bold;
  color: #000;  
}

.song {
  position: fixed;
  width: 248px;
  height: 248px;
  top: 42%;
  z-index: 1000;
  image-rendering: pixelated;
}

.song:hover {
  scale: 110%;
  transition-duration: 0.2s ;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-logo {
  font-family: "Minecraft Regular";
  font-size: 22px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: "Minecraft Regular";
  font-size: 16px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #7fc6d3;
}

@media (max-width: 768px) {
.music {
  position: fixed;
  top: 16%;               /* sedikit dari atas biar efek floating */
  left: 18px;
  width: 64px;
  height: 64px;            /* tinggi navbar */
  background: rgba(255, 255, 255, 0.8); /* putih semi-transparan 80% */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;     /* rounded */
  backdrop-filter: blur(12px); /* biar teks lebih jelas */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek floating */
  z-index: 1000;
  font-family: "Minecraft Regular", sans-serif;
  font-weight: bold;
  color: #000;             /* teks hitam supaya kontras */
}

.cd {
  position: fixed;             /* sedikit dari atas biar efek floating */
  width: 48px;
  height: 48px;            /* tinggi navbar */
  background: rgba(19, 39, 68, 0.8); /* putih semi-transparan 80% */
  display: flex;
  align-items: center;
  border-radius: 256px;     /* rounded */
  backdrop-filter: blur(6px); /* biar teks lebih jelas */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek floating */
  z-index: 1600;
  font-family: "Minecraft Regular", sans-serif;
  font-weight: bold;
  color: #000;  
}

.cdi {
  position: fixed;             /* sedikit dari atas biar efek floating */
  width: 10px;
  height: 10px;            /* tinggi navbar */
  background: rgba(241, 252, 255, 0.8); /* putih semi-transparan 80% */
  display: flex;
  align-items: center;
  border-radius: 256px;     /* rounded */
  backdrop-filter: blur(6px); /* biar teks lebih jelas */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek floating */
  z-index: 1600;
  font-family: "Minecraft Regular", sans-serif;
  font-weight: bold;
  color: #000;  
}

.nav-logo {
  font-family: "Minecraft Regular";
  font-size: 14px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: "Minecraft Regular";
  font-size: 12px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #7fc6d3;
}

.song {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 10%;
  z-index: 1000;
  image-rendering: pixelated;
}

.song:hover {
  scale: 110%;
  transition: 2s;
}
}


