.bento-square {
    background: rgba(255, 255, 255, 0.514);
}

.img-hover {
  transition: box-shadow 0.3s ease; /* smooth effect */
}

.img-hover:hover {
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.849); /* bayangan muncul saat hover */
}