#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

 @font-face 
 {font-family:"Minecraft Regular";
    src:url("../Minecraft_Regular/1_Minecraft-Regular.eot?") 
    format("eot"),url("../Minecraft_Regular/1_Minecraft-Regular.woff") 
    format("woff"),url("../Minecraft_Regular/1_Minecraft-Regular.ttf") 
    format("truetype"),url("../Minecraft_Regular/1_Minecraft-Regular.svg#Minecraft-Regular") 
    format("svg");font-weight:normal;font-style:normal;
}


body {
  font-family: "Minecraft Regular", sans-serif;
}

.minecraft-text {
  font-family: "Minecraft Regular", sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.button {
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* untuk kompatibilitas browser */
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 5s ease infinite;
}

@keyframes wiggle {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  25% { transform: translateY(-2px) rotate(5deg); }
  50% { transform: translateY(0) rotate(-5deg); }
  75% { transform: translateY(-2px) rotate(5deg); }
}

.wiggle {
  animation: wiggle 0.3s ease-in-out infinite;
}

