.reason-title {
  font-family: "Minecraft Regular";
  font-size: 40px; /* laptop default */
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  padding: 0 6px;
}

.reason-paragraph {
  font-family: "Minecraft Regular";
  font-size: 20px; /* laptop default */
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  padding: 0 20px;
  margin: 0;
  white-space: pre-line;
}

.reason-typing {
  font-family: "Minecraft Regular";
  font-size: 48px; /* default desktop */
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: left;
  align-items: flex-start;
  padding: 0 6px;
}

/* kalau layar <= 768px (HP/Tablet) */
@media (max-width: 768px) {
  .reason-title {
    font-size: 20px;
  }

  .reason-paragraph {
    font-size: 14px;
  }
}

.default-bg {
  min-height: 100vh;
  height: auto;
  background: linear-gradient(
    180deg,
    #13192c,
    #1e2749,
    #192a51,
    #273469,
    #084aa0,
    #0096c7,
    #78a7d3
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.default-bg1 {
  min-height: 100vh;
  height: auto;
  background: linear-gradient(
    180deg,
    #cddafd,
    #d2deff,
    #ffc1d8,
    #ffc8dd,
    #ffc8dd,
    #cdb4db
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.button {
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* untuk kompatibilitas browser */
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 5s ease infinite;
}

@keyframes wiggle {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  25% { transform: translateY(-2px) rotate(5deg); }
  50% { transform: translateY(0) rotate(-5deg); }
  75% { transform: translateY(-2px) rotate(5deg); }
}

.wiggle {
  animation: wiggle 0.3s ease-in-out infinite;
}


